@font-face {
	font-family: IRANRounded;
	font-style: normal;
	font-weight: 900;
	src: url('./eot/IRAN-Rounded.eot');
	src: url('./eot/IRAN-Rounded.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./woff/IRAN-Rounded.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./ttf/IRAN-Rounded.ttf') format('truetype');
}


